<div class="toolbar" role="banner">

    <!-- menu -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>           
            <a routerLink="./stopwatch">stopwatch</a>
        </button>
        <button mat-menu-item>
            <span>image recognition</span>
        </button>
        <button mat-menu-item>
            <span>statistics</span>
        </button>
    </mat-menu>

    <!-- menu title -->
    {{title}}

</div>

<router-outlet></router-outlet>