<div class="toolbar" role="banner">

    <!-- menu -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a routerLink="./stopwatch">
            <button mat-menu-item>           
                 stopwatch
            </button>
        </a>
        <a routerLink="./image-recognition">
            <button mat-menu-item>
                image recogntion
            </button>
        </a>
        <button mat-menu-item>
            <span>statistics</span>
        </button>
    </mat-menu>

    <!-- menu title -->
    {{title}}

</div>

<router-outlet></router-outlet>